<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CV</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://kit.fontawesome.com/43ebf4cfc4.js" crossorigin="anonymous"></script>
</head>
<body>

  <div class="main">
    
    <!-- Encabezado -->
    <div class="top-section">
      <img src="images/1.jpg" class="profile" />
      <p class="p1">YANETH <span>DORIA</span></p>
      <p class="p2">Estudiante de Informática</p>
    </div>

    <!-- Columna Derecha -->
    <div class="col-div-4">

      <div class="content-box" style="padding-left: 40px;">
        
      <p class="head">Contacto</p>
      <p class="p3"><i class="fa fa-solid fa-address-card"></i> V-30039933</p>
      <p class="p3"><i class="fa fa-solid fa-phone"></i> 0412-1075534</p>
      <p class="p3"><i class="fa fa-solid fa-envelope"></i> bethpixel22@gmail.com</p>
      <p class="p3"><i class="fa fa-solid fa-location-dot"></i> Guárico, Venezuela</p>
      
      <br/>

      <p class="head">Habilidades</p>
      <ul class="skills">
        <li><span>Diseño Gráfico</span></li>
        <li><span>Office Intermedio</span></li>
        <li><span>HTML-5</span></li>
        <li><span>CSS-3</span></li>
        <li><span>Javascript (Básico)</span></li>
        <li><span>SQL (Básico)</span></li>
      </ul>

      <br/>

      <p class="head">Idiomas</p>
      <p class="p3">Español (Nativo)</p>
      <p class="p3">Inglés (A1)</p>

      </div>
    </div>

    <!-- Linea de Separación -->
    <div class="line"></div>

    <!-- Columna Izquierda -->
    <div class="col-div-8">

      <div class="content-box">
        
        <p class="head">Perfil</p>
        <p class="p3" style="font-size: 14px;">Tengo 19 años, soy estudiante de Ingeniería en Sistemas cursando el quinto semestre de la carrera. Me interesa el diseño web, la creación de contenido para las redes, y el marketing digital. Así que en mi tiempo libre me dedico a investigar sobre ello.</p>

        <br/>

        <p class="head">Cursos</p>
        <p><a href="https://capacitateparaelempleo.org/verifica/j80c6ibs1/">Curador de Datos (2022 - Actualmente)</a></p>
        <p class="p-4">Fundación Carlos Slim</p>
        <p><a href="https://www.futurelearn.com/certificates/2rbmabd">Basic English 1: Elementary (2021)</a></p>
        <p class="p-4">King's College London</p>
        <p><a href="https://www.futurelearn.com/certificates/uxelupy">Computer Programming for Everyone (2021)</a></p>
        <p class="p-4">University of Leeds and Institute of Coding</p>

        <br>

        <p class="head">Educación</p>
        <p>Ingeniería en Informática (2020 - Actualmente)</p>
        <p class="p-4">Universidad Nacional Experimental "Rómulo Gallegos"</p>
        <p>Bachiller en Ciencias (2015 - 2020)</p>
        <p class="p-4">Unidad Educativa Nacional "Rafael Cabrera Malo"</p>

      </div>
    </div>

  </div>
</body>
</html>